.app-bar {
  padding: 2rem 0rem 1rem;

  .ui.input.searcher {
    & > input {
      background-color: transparent;
      border: none;
    }
  }

  .profile-avatar {
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;

    &-trigger {
      padding-right: 0.8rem;
    }

    &-circle {
      width: 2rem;
      height: 2rem;
      background-color: #6772e5;
      color: #fff;
      display: inline-block;
      border-radius: 3rem;
      text-align: center;
      align-content: center;
      padding-top: 0.28rem;
      margin-right: 0.7rem;
      font-size: 0.8rem;
    }

    .visible.menu.transition{
      .item{
        .text{
            // position: absolute;
            width: 41px;
            height: 18px;
            left: 88px;
            top: 686px;

            /* at1 */
            // font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            // line-height: 18px;
            /* identical to box height */
            // letter-spacing: -0.04em;

            /* 3 */
             color: #1C1D1E;
        }
      }
    }

  }
  .profile-company {
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
    width: 200px;
    &-trigger {
      padding-right: 0.8rem;
    }

    &-circle {
      width: 2rem;
      height: 2rem;
      background-color: #6772e5;
      color: #fff;
      display: inline-block;
      border-radius: 3rem;
      text-align: center;
      align-content: center;
      padding-top: 0.28rem;
      margin-right: 0.7rem;
      font-size: 0.8rem;
    }
  }
}