.appbar-items
{
padding: 2rem;
}
  .search-dropdown{
    width:100%;
    padding: 1rem 0rem;
    display: inline-flex;
  
    .ui.selection.dropdown{
      min-width: 5rem;
    width: 114px;
    border-radius: 0;
    }
   
    .ui.selection.dropdown:focus {
      background: #79afab;
    color: white;
     }
    .prompt{
      border-radius: 0rem !important;
    }

    .ui.search > .results .result .image
    {
      float: left;
    }
    .ui.search
    {
      width: 100%;
    }
    .ui.input
    {
      width: 100%;
    }
  }
  
  .auth-session-dropdown {
    text-align: right;
    padding: 1rem 0rem;
    height: 10vh;
    p {
      margin-bottom: 0.5rem;
    }
  
    .avatar {
      &-trigger {
        display: flex;
        align-items: center;
      }
  
      &-circle {
        width: 3rem;
        height: 3rem;
        font-weight: bold;
        background-color: #005987;
        color: #fff;
        border-radius: 3rem;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &-user {
        color: #616468;
  
        span {
          color: #1C1D1E;
        }
      }
  
      &-icon {
        padding-left: 0.5rem;
        color: #616468;
        font-size: 1.3rem;
      }
  
      &.ui.dropdown {
        
         padding-left: 3rem;

         @media (min-width: 900px) and (max-width:1200px) {
          padding-left: 0.5rem !important;
         }

        .ui.dropdown.selection { // Location Dropdown
          width: 12rem;
          min-width: initial;
  
          & > .menu {
            top: 100% !important;
            right:0;
            right: inherit;
            margin: 0 -1px !important;
            border-radius: 0 0 .28571429rem .28571429rem !important;
          }
        }
  
        .scrolling.menu {
          border-top: none;
          .item {
            font-weight: 300;
            padding-left: 3rem !important;
  
            &.selected {
              &::before {
                content: "✓";
                margin-left: -1.5rem;
                position: absolute;
              }
            }
          }
        }
  
        & > .menu {
          padding-top: 0.7rem;
          left: -14rem;
          .item {
            padding: 1rem 1.8rem !important;
          }
    
          .header {
            padding: 1.2rem 1.8rem !important;
            color: inherit;
            font-size: inherit;
            font-weight: normal;
            text-transform: inherit;
            margin-top: 0;
            margin-bottom: 0;
      
            .avatar {
              &-trigger {
                margin-bottom: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

 
