.ui.form {
  .field {
    & > label {
      color: $black;
      font-weight: 400;
    }
  }

  h6.form-section-header {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}