.ui.header {
  color: $black;
  font-family: Poppins;
  font-weight: 600;

  &.blue {
    color: $blue !important;
  }

  &.c-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.04em;
    color: #1c1d1e;
  }

  &.c-label {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: #9b9fa4;
  }
}

h6.ui.header.section-header {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}