.ui.input {
  .ui.label {
    border-color: $gray-2;
  }

  input {
    font-family: Poppins !important;

    &:read-only {
      background-color: rgba(0, 0, 0, 0.04) !important;
    }
  }

  &.action {
    input {
      &:focus + .ui.button.basic,
      &:focus + input + .ui.button.basic {
        background-color: unquote($green + '07') !important;
        border-color: $green !important;
      }
    }

    .ui.button {
      &.basic {
        box-shadow: none;
        border: solid 1px $gray-2;
      }
    }
  }
}