.ui.input {
  input {
    border: 1px solid $light-gray !important;
    font-family: Poppins !important;

    &:read-only {
      background-color: rgba(0, 0, 0, 0.04) !important;
    }
  }

  &.action input {
    border-right-style: none !important;
  }

  // Input Button Actions
  .ui.basic.button {
    box-shadow: none;
    color: $green !important;
    background-color: #fff !important;
    border: solid 1px $light-gray;
    border-left-style: none;
  }
}