.ui.label {
  & > img {
    width: 2.1666em !important;
    object-fit: cover;
  }

  &.basic {
    &.blue {
      border-color: $blue !important;
      color: $blue !important;
    }
  }

  &.orange {
    background-color: $orange !important;
  }

  &.black {
    background-color: $light-black !important;
  }

  &.red {
    background-color: $red !important;
  }
}