.ui.label {
  &.basic {
    &.blue {
      border-color: $blue !important;
      color: $blue !important;
    }
  }

  &.orange {
    background-color: $orange !important;
  }

  &.black {
    background-color: $light-black !important;
  }

  &.red {
    background-color: $red !important;
  }
}