.table-primary {
  &.ui.basic.table {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    margin-top: 0rem;
    border-radius: 0rem;

    thead {
      background-color: #EEEEEF;
    
      th {
        border-left: none;
        color: #000000;
        font-weight: 600;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border-top-color: #EEEEEF !important; // for removing the blue line from table top

  
        &:hover {
          background-color: transparent;
        }
  
        &.sorted {
          background: transparent;
  
          &:not(.ascending):not(.descending)::after {
            content: "\f0dc";
          }
  
          &.ascending,
          &.descending {
            color: $green;
          }
        }
      }
    }

    tbody {
      tr {
        &.active {
          background-color: #00b5ad0a !important;
        }

        &.inactive {
          td {
            pointer-events: initial;
            color: $gray-2;
          }

          .ui.label {
            background-color: $gray-2 !important;
          }

          .ui.image {
            cursor: default;
            opacity: 0.45;
          }
        }

        &.child {
          td:nth-child(2) {
            padding-left: 3rem;
          }
        }
      }

      td {
        font-size: 0.9rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        color: #222b3bd9;
        vertical-align: middle;

        a {
          color: #005987;
          text-decoration: underline;
        }

        .image.profile {
          display: inline-block;
          margin-right: 0.8rem;
        }
        .visible.menu.transition {
          .icon {
            color: gray !important;
          }
        }
      }
    }
  }

  .ui.checkbox {
    vertical-align: middle;

    input:checked ~ label {
      &::after {
        color: #fff;
        font-size: 0.8rem;
      }

      &::before {
        border-color: #00b5ad;
        background-color: #00b5ad;
      }
    }
  }

  &-segment.ui.segment.dimmable {
    padding: 0rem 0rem 0rem;
    border: none;
    box-shadow: none;
    margin: 0;

    @media only screen and (max-width: 767px) {
      overflow-y: hidden;
    }

    @media only screen and (min-width: 768px) and (max-width: 1320px) {
      overflow-y: hidden;
    }
  }

  &-header.ui.grid {
    margin-bottom: 0.3em;

    .column {
      display: flex;
    }

    input[type="search"] {
      min-width: 18rem;
    }
  }

  .ui.dropdown .menu {
    right: 0 !important;
    left: auto !important;
  }
}
