.table-primary {
  &.ui.basic.table {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    margin-top: 0rem;

    thead th {
      border-left: none;
      color: #616468;
      font-size: 0.8rem;
      font-weight: normal;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      text-transform: uppercase;     

      &:hover {
        background-color: transparent;
      }

      &.sorted {
        background: transparent;

        &:not(.ascending):not(.descending)::after {
          content: '\f0dc';
        }

        &.ascending,
        &.descending {
          color: $green;
        }
      }
    }

    tbody {
      tr {
        &.active {
          background-color: #00b5ad0a !important;
        }

        &.inactive {
          td {
            pointer-events: initial;
            color: $gray-2;
          }

          .ui.label {
            background-color: $gray-2 !important;
          }

          .ui.image {
            cursor: default;
            opacity: .45;
          }
        }
      }

      td {
        font-size: 0.9rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: #222b3bd9;
        vertical-align: middle;
        
        a {
          color: #005987;
          text-decoration: underline;
        }
        
        .image.profile {
          display: inline-block;
          margin-right: 0.8rem;
        }
      }
    }
  }

  .ui.checkbox {
    vertical-align: middle;

    input:checked ~ label {
      &::after {
        color: #fff;
        font-size: 0.8rem;
      }

      &::before {
        border-color: #00b5ad;
        background-color: #00b5ad;
      }
    }
  }

  &-segment.ui.segment.dimmable {
    padding: 0rem 1rem 0rem;
    border: none;
    box-shadow: none;
    margin: 0;

    @media only screen and (max-width: 767px) {
      overflow-y: hidden;
    }

    @media only screen and (min-width: 768px) and (max-width: 1320px) {
      overflow-y: hidden;
    }
  }

  &-header.ui.grid {
    margin-bottom: 0.3em;

    input[type=search] {
      min-width: 18rem;
    }
  }

  
.ui.dropdown .menu {
  right: 0 !important;
  left : auto !important;
}

}

.table-primary-segment{
overflow-x: auto !important;
overflow-y: hidden;
}

  @media only screen and (max-width: 767px) {
    .table-primary-segment{
.grid-filter-item{
  display: inline-flex !important;
}
}
.popup-filter-form{
  min-width: auto !important;
  .ui.button {
    margin-top: 1rem;
    width: 100%;
}
}
}
