.petkennect-reservation {
  .message__title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: #f2994a;
  }

  .ui.steps {
    width: 100%;
  }

  .section-info-item-step1.ui.segment {
    box-shadow: none;
    padding: 1.8rem;
  }

  .section-info-item-step1 {
    margin-top: 3rem !important;
  }

  .section-info-header {
    text-align: left;
    text-transform: uppercase !important;
  }

  .btnBack {
    text-align: left !important;
  }

  .section-info-item-form {
    .ui.celled.table tr td,
    .ui.celled.table tr th {
      border-left: 0px solid !important;
    }
    .ui.table tr td {
      border-top: 0px solid !important;
    }
    .ui.table {
      width: 100% !important;
    }
    .div-kannel-selection {
      box-shadow: none;
      padding: 1.8rem 24rem;
    }

    .action-button-reservation {
      hr {
        margin-bottom: 1rem;
        border: 0.1px solid rgba(34, 36, 38, 0.15);
      }
    }

    .btn-reservation-calendar {
      height: 3rem;
      margin-right: 0px !important;
      padding: 0.58928571em 1em 0.58928571em !important;
    }
    .spn-reservation-calendar {
      margin: 1rem;
      padding-left: 1rem;
      padding-right: 3rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
    .spn-area {
      width: 7rem;
      display: inline-block;
    }

    .btn-avaliable {
      background: #079477 !important;
      float: right;
    }
    .btn-spent {
      background: #dd4b39 !important;
      float: right;
    }

    .div-additional-information {
      box-shadow: none;
      padding: 1.8rem 20rem;
    }

    .text-center {
      text-align: center;
    }

    .spn-calendar-btn {
      width: 10rem;
    }

    .btn-reservation-calendar.basic {
      box-shadow: 0 0 black !important;
    }

    .delete-addons {
      position: absolute;
      right: 2rem;
    }

    .div-addon-summary {
      padding: 1rem;
      background: #f7f9fc;
      border: 1px solid #e5eaee;
      text-align: right;
      border-radius: 3px;
      padding-right: 2rem;
    }
  }

  .button-service-group {
    background-color: #e0e0e0;
    color: #989898;
    border: 1px solid #e5eaee;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    cursor: pointer;
    span {
      letter-spacing: 0.04em;
    }
    &.selected {
      background: #34b9b6;
      span{
        color: white !important;
      } 
    }
    img {
      width: 70px;
      height: 60px;
    }
  }

  @media (max-width: 1250px) {
    .button-service-group {
      span {
        font-size: 12px !important;
        margin-left: 5px !important;
      }
    }
  }

  @media (max-width: 987px) {
    .button-service-group {
      span {
        font-size: 10px !important;
        margin-left: 2px !important;
      }
      img {
        width: 50px;
        height: 40px;
      }
    }
  }

  .list-total-addons > .item {
    padding: 18px 0rem !important;
  }

  
  .grooming-second-step-form {
    .div-additional-charge {
      box-shadow: none;
      padding: 1.8rem 25rem;
    }
    .div-additional-charge-summary {
      padding: 1.5rem;
      background: #f7f9fc;
      border: 1px solid #e5e9ee;
      border-radius: 3px;
      padding-right: 2rem;
      .charge-amount {
        float: right;
        color: #00aa9f;
      }
    }

    .btn-trash-charge {
      float: right;
      margin-top: 1.8rem;
    }
  }

  .div-section-info-item-single {
    box-shadow: none;
    padding: 1.8rem 25rem;
  }

  .btn-groomer-time-select {
    height: 3rem;
  }

  .btn-groomer-time-select.active {
    background-color: #079477 !important;
  }

  .grid-time-selection {
    height: 30vh;
    overflow-y: auto;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    .row {
      padding-top: 0rem !important;
    }
  }

  @media (max-width: 1024px) {
    .section-info-item-step1.ui.segment {
      padding: 1rem;
    }
    .section-info-item-form .div-kannel-selection {
      padding: 1rem 0rem;
    }

    .div-section-info-item-single {
      padding: 1rem;
    }

    .grooming-second-step-form .div-additional-charge {
      padding: 0rem;
      padding-top: 1rem;
    }

    .form-modal-actions {
      .ui.button {
        width: 100% !important;
      }
    }
    .selection.dropdown {
      min-width: 100% !important;
    }
  }

  .flex_imp {
    display: flex !important;
  }
}

#add-report-card-form {
  h6.ui.header.section-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem !important;
  }

  .ui.radio.checkbox {
    padding: 0.5rem;
  }

  .report-card-radio {
    padding: 2rem;
  }

  .report-card-header {
    background: #e5eaee;
    padding: 2rem;
    border-bottom: 1px solid #bdc3c9;
    margin-bottom: 0rem;
  }

  .ui.segment {
    padding: 0rem;
  }
}

//for progess bar
.div-progress-bar {
  color: #bdc3c9;
  width: 100%;
  display: inline-flex;
  padding-left: 2rem;
  padding-right: 2rem;

  .div-bar-content {
    width: 35% !important;
    margin: 0rem 2rem;
    span {
      margin-left: 0.5rem;
    }
  }

  .div-bar-line {
    width: 20%;
    border-top: 3px dotted #bdc3c9;
    margin-top: 0.5rem;
  }

  .icon {
    font-size: 1.5em;
  }

  .active {
    border-color: #079477;
    color: #079477;
  }
}

@media (max-width: 768px) {
  .div-progress-bar {
    display: contents;
    .div-bar-content {
      margin: 0rem;
      margin-top: 1rem;
      width: 100%;
    }
    .div-bar-line {
      display: none;
    }
  }
  #boarding-container {
    .checkbox-red {
      margin-top: 10px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .div-progress-bar {
    padding: 0rem;
    .div-bar-content {
      width: 30%;
    }
    .div-bar-line {
      width: 10%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .div-progress-bar {
    padding: 0rem;
    .div-bar-content {
      width: 33%;
      margin: 0rem;
      margin-right: 1rem;
    }
    .div-bar-line {
      display: none;
    }
  }
}

.mt_input {
  margin-top: 0.28571429rem !important;
}

.subService-margin {
  margin-top: 30px !important;
}

.form-modal-action-button {
  text-align: center !important;
}

.charge-card-check {
  margin-top: -15px !important;
  margin-bottom: 10px !important;
}

.final-cost {
  color: teal !important;
}

.total-cost {
  margin: 46px 0 1em !important;
}

.addons-grid {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.total-cost-input {
  margin-top: 4px !important;
}

.button-margin {
  margin: 0px 0px 0px 0px !important;
}

.message-grid {
  padding: 9px !important;
}

.heading-color {
  background-color: #ebebeb;
  color: teal !important;
}

.checkbox-label {
  display: flex !important;
}

.span-margin {
  margin-top: inherit !important;
}

.addon-service-button {
  margin-top: auto;
  text-align: right !important;
}

.div_align_center {
  display: flex !important;
  align-items: center !important;
}

.align-button {
  .ui.button {
    padding: 1em !important;
  }
}

.padding-column {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.margin-accordian {
  margin: 0 !important;
}

.addon-table {
  .table-primary.ui.basic.table tbody td {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }
}

.vaccination-alert {
  width: 99% !important;
}

.reservation-buttons {
  width: 245px !important;
}

.delete-reservation {
  margin-left: 100px !important;
}

.available-message {
  background-color: rgb(200, 236, 236) !important;
  text-align: center !important;
}
.available-message-two {
  background-color: rgb(236, 226, 228) !important;
  text-align: center !important;
}

.avaiable-buttons {
  margin-top: 15px !important;
  width: 150px !important;
  margin-right: 15px !important;
  height: 45px !important;
}

.heading-height {
  height: 35px !important;
}

.lodging-text-align {
  align-items: center !important;
}

.available-checkbox {
  .ui.checkbox input:checked ~ label::after {
    background-color: rgb(9, 165, 9);
    color: white;
  }
}

.occupied-checkbox {
  .ui.checkbox input:checked ~ label::after {
    background-color: red;
    color: white;
  }
}

.date-field-width {
  width: auto !important;
}
.appointment-field {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.availability-button {
  color: black !important;
  background-color: rgb(236, 226, 228) !important;
  width: 50% !important;
  height: 140% !important;
  margin-left: 125px !important;
}

.availability-button-two {
  color: black !important;
  background-color: rgb(200, 236, 236) !important;
  width: 50% !important;
  height: 140% !important;
  margin-left: 125px !important;
}
.grooming-button-appoint {
  color: black !important;
  background-color: rgb(200, 236, 236) !important;
  width: 178px !important;
}

#boarding-container {
  .select-label {
    color: #58779b;
    &.underline {
      text-decoration: underline;
    }
  }
  .checkbox-blue {
    label {
      color: #58779b;
    }
  }
  .checkbox-red {
    label {
      color: #dd4b39;
    }
  }
  .required-indicator {
    font-size: 16px;
    font-style: oblique;
    color: #fe5b62;
  }
  .container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    select {
      width: min-content !important;
    }
    div {
      display: flex;
      align-items: center;

      p {
        margin: 0px;
        font-size: 16px;
        font-weight: bold;
        color: #58779b;
      }
    }
  }
}
.reservation-steps {
  border: none !important;
  .step {
    padding: 0 20px !important;
    border: none !important;
    .title,
    i {
      color: #9e9e9e;
    }
    &.completed {
      .title {
        color: #62bb46;
      }
    }
    &::after {
      border-color: #9e9e9e !important;
      border-width: 0 2px 2px 0 !important;
    }
  }
}
