.quick-link-font {
  font-size: 15px !important;
  color: #00aa9f !important;
}

.menu-item-padding {
  .petkennect-profile-menu.ui.menu.vertical .item {
    padding: 1.1rem 1rem !important;
  }
}

.table-margin {
  margin-right: -8px !important;
}


.grid-step{
  .step{
    padding: 1.1em 1em !important;
  }
  .ui.steps .step.active {
    background: #00AA9F18 !important;
    color: #00aa9f;
    .icon{
      color: #00aa9f !important;
    }
    .title{
      border-color: #00b5ad !important;
      color: #00b5ad !important;
    }
  }

  .ui.steps .step .title {
    font-family: 'Poppins';
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .ui.steps .step > .icon {
    font-size: 1.2em !important;
  }

  .ui.info.message{
    background-color: #f8ffff !important;
  }
}


.charges-input{
 
  .ui.input{
    input{
      width: 100px !important;
    padding-right: 0;
    }
  }
}

.adjust-m-heading{
  padding-top: 0 !important;
  margin-top: -0.5rem !important;
}
.menu-item-table {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

.quick-link{
  display: flex !important;
  align-items: center;
}

.link-tab{
  min-width: 14%;
}
