.auth-sso {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;

  .ui.horizontal.divider {
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
  }

  .container {
    margin: auto;

    .list {
      overflow-y: auto;
      max-height: 60vh;
      width: 430px;
      padding-top: 1rem;
      margin-bottom: 2rem;
    }

    .list-item {
      margin-left: 10px !important;
      display: flex !important;
      align-items: center;
      background: #ffffff !important;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.055);
      width: 400px;
      height: 80px;
      margin-bottom: 16px !important;
      border-radius: 0 !important;

      &:first {
        margin-top: 24px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.01) !important;
      }

      .item-radio {
        width: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #1c1d1e !important;
      }

      .item-description {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.04em;
        color: #1c1d1e;
      }

      .item-logo {
        background: #448aff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: white;
        margin-right: 14px;
        font-style: normal;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.04em;
      }
    }

    .submit-button {
      width: 400px;
      margin-right: 0rem;
      margin-left: 10px;
    }
  }
  .list-align {
    text-align: -webkit-center;
  }
}
