.pet {
  .ui.circular.label {
    width: 9rem;
    font-weight: 400;
  }
}

.div-pet-btn-info{
  .ui.teal.button{
    width: 11rem;
    @media (min-width: 900px) and (max-width:1200px) {
      width:auto !important;
     }
  }
}

.cls_medication{
  width: 23% !important;
}