.pet {
  .ui.circular.label {
    width: 9rem;
    font-weight: 400;
  }
}

.div-pet-btn-info{
  .ui.teal.button{
    width: 11rem;
    @media (min-width: 767px) and (max-width:1200px) {
      margin: 0.2rem;
     }
    @media only screen and (max-width:767px){
     margin: 0.2rem;
    }
  }
}

.cls_medication{
  width: 23% !important;
}