.c-view-wrapper {
  .placeholder {
  }
  .c-view__image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #9b9fa4;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(28, 29, 30, 0) 86.82%,
        rgba(28, 29, 30, 0.71) 100%
      );
    }
    .description {
      position: absolute;
      left: 20;
      bottom: 20;
      right: 20;
      margin: 0 !important;
      padding: 0 !important;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;

      letter-spacing: -0.04em;

      color: #fafcff;
    }
  }
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .web-camera {
    position: absolute !important;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #9b9fa4 !important;
    object-fit: contain;
  }
}
