.request-h{

    font-size:  1.07142857rem !important;
    font-weight: bold !important;
}


.request-table-div{
    
    .ui.table thead th {
      padding-left: 0.4rem !important;
      padding-right: 0 !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
  
    .table-primary.ui.basic.table thead {
      background-color: #fafcff !important;
    }
  }

  .text-underline{
      text-decoration: underline !important;
  }
  

  .bold-text{
      font-size: 13px !important;
      font-weight: bold !important;
  }
  .gray-text{
    font-size: 13px !important;
    color: gray !important;
 }

.av-change-h{
  text-decoration: underline !important;
  font-weight: bold !important;
}