.price-field{
  
    width: 169px !important;
}

.day-field{
    width: 169px !important;
}

.desc-field{
    width: 673px !important;
   
}

.sort-field{
    width: 168px !important;

    .ui.selection.dropdown{

        min-width: 2rem !important;

    }
}
