.div-table-width {
    width: 100% !important;
    overflow-y: hidden;
    .ui.table {
      width: max-content !important;
    }
  }

.label-style{
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    height: 2.6rem !important;
    margin-left: 0 !important;
    padding-top: .8rem !important;
}

.flex-container{
  display : flex !important;
 
}

.pt7r{
  padding-top: 0.7rem !important;
}

.mb5{
  margin-bottom: 7px !important;   
 }

.mt02{
  margin-top: 0.02rem !important;
}
 



