.segment-content-no-border {
    &.ui.segment {
      box-shadow: none;
      border: none;
    }
}

.mt56 {
  margin-top: 56px !important;
}


.grid-step{
  .step{
    padding: 1.1em 1em !important;
  }
  .ui.steps .step.active {
    background: #00AA9F18 !important;
    color: #00aa9f;
    .icon{
      color: #00aa9f !important;
    }
    .title{
      border-color: #00b5ad !important;
      color: #00b5ad !important;
    }
  }

  .ui.steps .step .title {
    font-family: 'Poppins';
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .ui.steps .step > .icon {
    font-size: 1.2em !important;
  }

  .ui.info.message{
    background-color: #f8ffff !important;
  }
}

.training-heading{
  display: flex !important;
  justify-content: space-between;
  padding-right: 0 !important;
}

.training-head-m{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.menu-item-table {
  margin-left: -16px !important;
 
}


