.app-content
{
  .text-fixed
  {
    color:#079477 !important;
  }

  .new_pet_div {
    text-align: right;
    flex: 1;
  }
}


.document-upload-choose-file
{
  padding: 20px;
  text-align: center;
  background: #E5EAEE;
  border: 1px solid #BDC3C9;
  border-radius: 3px;
  box-sizing: border-box;
}

.ck.ck-reset, .ck.ck-reset_all, .ck.ck-reset_all *
{
  width:100%;
}