.app-content
{
  .new_pet_div {
    text-align: right;
    flex: 1;
  }
  .div-client-info-button{
    .ui.teal.button{
    width: 12rem;
    padding: 1rem;
    font-size: 0.9rem !important;
    
     @media (min-width: 768px) and (max-width:1200px) {
      width: 12rem;
      margin-top: 0.2rem;
     }

     @media screen and (max-width:767px) {
      margin-top: 0.2rem;
      width: 12rem;
     }
    }
    
  }
  .div-client-info-edit-button{
    .ui.teal.button{
      @media screen and (max-width:1200px) {
        width: 9rem;
        margin-top: 0.2rem;
       }
    }
  }
}

.document-upload-choose-file
{
  padding: 20px;
  text-align: center;
  background: #E5EAEE;
  border: 1px solid #BDC3C9;
  border-radius: 3px;
  box-sizing: border-box;
}

.ck.ck-reset, .ck.ck-reset_all, .ck.ck-reset_all *
{
  width:100%;
}

.image-border-declined {
  border: solid red 5px;
}

.image-border-vip {
  border: solid green 5px;
}

.image-border-caution {
  border: solid yellow 5px;
}