.app-content
{
  .new_pet_div {
    text-align: right;
    flex: 1;
  }
  .div-client-info-button{
    .ui.teal.button{
    width: 12rem;
    @media (min-width: 900px) and (max-width:1200px) {
      width:auto !important;
     }
    }
    
  }
}


.document-upload-choose-file
{
  padding: 20px;
  text-align: center;
  background: #E5EAEE;
  border: 1px solid #BDC3C9;
  border-radius: 3px;
  box-sizing: border-box;
}

.ck.ck-reset, .ck.ck-reset_all, .ck.ck-reset_all *
{
  width:100%;
}