.c-camera-wrapper {
  .placeholder {
    // background-color: #9b9fa4;
  }
  .c-camera__image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    
  }
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .web-camera {
    position: absolute !important;
    top:0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
