.justify-between
{
    text-align: justify;
}

.sigCanvas
{
    border: 1px solid #BDC3C9;
}

.btnClearSignature
{
    width: 300px;
}

.grid-sign-detail
{
    background: #FAFCFF;
border: 1px solid #BDC3C9;
overflow-y: scroll;
height: 520px;
}

.text-align-center
{
    text-align:center;
}

.iframeViewDocument
{
    padding: 0px;
}

.grid-show-pdf
{
    height: 450px;
}