.justify-between
{
    text-align: justify;
}

.sign-canvas
{
    border: 1px solid #BDC3C9;
}

.btn-clear-signature
{
    width: 300px;
}

.grid-sign-detail
{
background: #FAFCFF;
border: 1px solid #BDC3C9;
overflow-y: scroll;
height: 520px;
}

.text-align-center
{
    text-align:center;
}

.text-align-right
{
    text-align:right;
}

.iframe-view-document
{
    padding: 0px;
}

.grid-show-pdf
{
    height: 450px;
}

.w140
{
    width:140px;
}