.label-style{
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    height: 2.6rem !important;
    margin-left: 0 !important;
    padding-top: .8rem !important;
}
.flex-container{
    display : flex !important;
   
}

.total-use{
   
    margin-right: 23% !important;
}

.m-b{
    margin-bottom: 1.5rem !important;
}

.h-container{
    border-right: solid 1px rgba(34, 36, 38, 0.15) !important;
}

.pt7r{
    padding-top: 0.7rem !important;
}

.mb5{
     margin-bottom: 7px !important;   
}

.mt02{
    margin-top: 0.02rem !important;
}