body {
  font-family: 'Poppins', -apple-system, sans-serif;
  background-color: #FAFCFF;
}

.detail-view {
  &-tab {
    .ui.tabular.menu {
      border-bottom: none !important;

      a {
        border: none;
      }
    }
  }
}

.form-primary {
  &-actions {
    &.vertical {
      .ui.button {
        margin-bottom: 0.8rem;
      }
    }
  }

  &-segment {
    &.ui.segment {
      background-color: #f9fafb;
      box-shadow: none;
      border: none;
    }
    &-tab.ui.segment {
      box-shadow: none;
      border: none;
      padding: 0;
    }
  }

  .ui.form {
    input[type="password"]:focus,
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    .ui.selection.active.dropdown,
    .ui.selection.active.dropdown:hover,
    .ui.selection.active.dropdown .menu {
      border-color: #00b5ad;
    }

    input:read-only {
      background-color: #00000008;
    }

    .ui.toggle.checkbox {
      input:checked ~ .box:before,
      input:checked ~ label:before {
        background-color: #00b5ad !important;
      }
    }
  }

  .ui.divider {
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
  }
}

.segment-content {
  &.ui.segment {
    box-shadow: none;
    border: none;
  }

  &-header.ui.grid {
    margin-bottom: 2rem;
  }

  .ui.secondary.pointing.menu {
    margin-bottom: 2rem;
  }
}

.form-modal {
  &.side {
    right: 0;
    top: 0;
    height: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;

    &.tab {
      &.ui.modal {
        background-color: #f6f7f8;
        .content {
          background-color: #f6f7f8;
        }
      }

      .segment-content-header {
        .ui.header {
          margin-bottom: 0rem;
        }
      }
    }
  }

  .ui.divider {
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
  }

  &.ui.modal {
    & > .content {
      padding: 2.5rem 3rem 2rem;
    }
  }

  &-actions {
    margin-bottom: 0rem !important;

    .field {
      text-align: right;
    }
  }

  .ui.header {
    margin-bottom: 2rem;
  }
}

.table-primary {
  &.ui.basic.table {
    margin-bottom: 3rem;
    margin-top: 0rem;

    thead th {
      color: #222b3b;
    }

    tbody {
      tr.active {
        background-color: #00b5ad0a !important;
      }

      td {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: #222b3bd9;
      }
    }
  }

  .ui.checkbox {
    input:checked ~ label {
      &::after {
        color: #fff;
        font-size: 0.8rem;
      }

      &::before {
        border-color: #00b5ad;
        background-color: #00b5ad;
      }
    }
  }

  &-segment-dimmable.ui.segment {
    padding: 0rem 2rem 0rem;
    border: none;
    box-shadow: none;
    margin: 0;
  }
}

.ui.fluid.container {
  max-width: 1400px !important;
}

.text-center {
  text-align: center;
}

.text-area-container {
  position: relative;
  margin-bottom: 16;
  .text-area-counter {
    position: absolute;
    bottom: -16px;
    right: 8px;
  }
}
.drop-down-item-group {
  margin-left: 16px;
}
.drop-down-group {
  font-weight: 600;
}
.ui.grid.gray {
  background-color: #f6f7f8;
}
.ui.grid.br16 {
  border-radius: 16px;
}

.segment-content {
  .segment-content-header {
    .column {
      @include buttonFunction();

      @include mainHeaderFunction();
    }
  }
  @include tabHeaderFunction();

  .field {
    @include labelFunction();
  }

  .form {
    .header {
      @include pageHeadingFunction();
    }
  }

  .table-primary.ui.basic.table thead th {
    @include tableHeadFunction();
    border-left: 0px;
  }
}

.form-primary {
  .column {
    @include buttonFunction();

    @include transparentCancelButton();
  }
}

.modals {
  .modal {
    @include buttonFunction();
    @include mainHeaderFunction();
    @include labelFunction();
    @include tabHeaderFunction();

    @include transparentCancelButton();
    .cls-ModelHeader {
      font-size: 11px;
      line-height: 16px;
      font-family: $font-FamilyStyle;
      color: #005987;
    }
  }
}

.grid {
  .column {
    @include tabHeaderFunction();
  }
}

.ui.raised.segment.dimmable.table-primary-segment-dimmable {
  table {
    td {
      button {
        line-height: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        letter-spacing: -0.04em;
        border-radius: 15px;

        left: 76.86%;
        right: 16.44%;
        top: 7.89%;
        bottom: 42.11%;
      }
    }
  }
}

.clsLabel {
  label:after {
    content: " *";
    color: $green;
  }
}
