body {
  font-family: "Poppins", -apple-system, sans-serif;
  background-color: #fafcff;
}

textarea {
  font-family: "Poppins";
}

.app-content {
  height: 100vh;
  overflow-y: auto;
}

.detail-view {
  &-tab {
    .ui.tabular.menu {
      border-bottom: none !important;

      a {
        border: none;
      }
    }
  }
}

.form-primary {
  &-actions {
    &.vertical {
      .ui.button {
        margin-bottom: 0.8rem;
      }
    }
  }

  &-segment {
    &.ui.segment {
      background-color: #f9fafb;
      box-shadow: none;
      border: none;
    }
    &-tab.ui.segment {
      box-shadow: none;
      border: none;
      padding: 0;
    }
  }

  .ui.form {
    input[type="password"]:focus,
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    .ui.selection.active.dropdown,
    .ui.selection.active.dropdown:hover,
    .ui.selection.active.dropdown .menu {
      border-color: #00b5ad;
    }

    input:read-only {
      background-color: #00000008;
    }

    .ui.toggle.checkbox {
      input:checked ~ .box:before,
      input:checked ~ label:before {
        background-color: #00b5ad !important;
      }
    }
  }

  .ui.divider {
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
  }
}

.segment-content {
  &.ui.segment {
    box-shadow: none;
    border: none;
  }

  &-header.ui.grid {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ui.secondary.pointing.menu {
    margin-bottom: 2rem;
  }
}

.form-modal {
  &.side {
    right: 0;
    top: 0;
    height: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;

    &.tab {
      &.ui.modal {
        background-color: #f6f7f8;
        .content {
          background-color: #f6f7f8;
        }
      }

      .segment-content-header {
        .ui.header {
          margin-bottom: 0rem;
        }
      }
    }
  }

  &.ui.modal {
    & > .content {
      padding: 2.5rem 3rem 2rem;
    }
  }

  &-actions {
    padding-top: 2rem;
    margin-bottom: 0rem !important;

    .field {
      text-align: right;
    }
  }

  .ui.divider {
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
  }

  .ui.header {
    margin-bottom: 2rem;
  }
}

.ui.fluid.container {
  max-width: 1500px !important;
}

.text-area-container {
  position: relative;
  margin-bottom: 16;
  .text-area-counter {
    position: absolute;
    bottom: -16px;
    right: 8px;
  }
}
.drop-down-item-group {
  margin-left: 16px;
}
.drop-down-group {
  font-weight: 600;
}

.ui.grid.gray {
  background-color: #f6f7f8;
}
.ui.grid.br16 {
  border-radius: 16px;
}

.c-thumbnail {
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #1c1d1e;
  }
  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: #9b9fa4;
  }
}
.ui.breadcrumb {
  .section a,
  a.active.section {
    color: #616468 !important;
  }
}
img.ui.img-40 {
  width: 40px !important;
  height: 40px !important;
}

.form-primary {
  .column {
    @include transparentCancelButton();
  }
}

.modals {
  .modal {
    @include transparentCancelButton();
    .cls-ModelHeader {
      font-size: 11px;
      line-height: 16px;
      color: #005987;
    }
  }
}
