.w30 {
  width: 30%;
}

.w33 {
  width: 33%;
}

.w40 {
  width: 40%;
}

.w47 {
  width: 47.9% !important;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.w120 {
  width: 120px !important;
}

.w140 {
  width: 140px;
}

.h100{
  height: 100%;
}