.w15{
  width: 15%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33%;
}

.w40 {
  width: 40%;
}

.w47 {
  width: 47.9% !important;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.w120 {
  width: 120px !important;
}

.w140 {
  width: 140px;
}

.w150 {
  width: 150px !important;
}

.w160 {
  width: 160px !important;
}

.w170 {
  width: 170px;
}
.w180 {
  width: 180px;
}
.w190 {
  width: 190px;
}
.w200 {
  width: 2000px;
}
.w210 {
  width: 210px;
}

.h100{
  height: 100%;
}
