.text-regular {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 21px !important;
  letter-spacing: -0.04em !important;
}
.text-black {
  color: #1c1d1e !important;
}
.text-gray {
  color: #9b9fa4 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-center {
  text-align: center;
}
.text-underline {
  text-decoration: underline !important;
}

.text-ellipsis-md {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 150px;
  display: inline-block;
}

.text-teal {
  color: $green !important;
}
.border-none {
  border: none !important;
}

.block {
  display: block;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.bg-gray {
  background-color: #9b9fa4;
}

.shadow-0 {
  box-shadow: none !important;
}