.flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.align-center {
  align-items: center !important;
}
.align-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content:space-evenly;
}
.justify-end {
  justify-content: flex-end;
}
.display-inline-block{
  display: inline-block !important;
}
.flex-wrap{
  flex-wrap: wrap !important;
}

