// function use for button style change
@mixin buttonFunction(){
  .cls-saveButton{
      background-color: $green !important;
      color: $white-Color ;
      &:hover {
          background-color: $greenHover !important; 
      }
  }
  .cls-deleteButton{
      background-color: $delete-Color !important;
      color: $white-Color ;
      &:hover {
          background-color: $delete-ColorHover !important; 
      }
  }
}

//function Transparent cancel button
@mixin transparentCancelButton {
  .cls-TransCancelBtn{
      box-shadow: 0px 1px 2px $white-Color;
      border-radius: 3px;
      font-style: normal;
      font-size: 14px;
      line-height: 13px;
      text-align: center;
      color: $green;
      background: $white-Color;
      border: 1px solid $green;
      &:hover {
          background-color: $white-Color; 
          color: $green;
      }
  }
}

//function use for tab header style change
@mixin tabHeaderFunction {
  .cls-tabHeader{
      .menu{
          a{
              font-weight: 400;
              color: $black;
              &:hover {
                  color: $black !important;
              }
          }
      }
  }
}

//function use for label style change
@mixin labelFunction {
  label{
      // font-weight: 400 !important;
      color: $black !important;
      font-size: .92857143em;
      font-weight: 700;
  }
}

@mixin pageHeadingFunction {
      color: #005987;
      // font-weight: 700;
      // font-size: 1.07142857rem;
      font-size: 12px;
      line-height: 16px;
}