.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mv0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mh0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m0 {
  margin: 0px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pv0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.ph0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p0 {
  padding: 0px !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.ml2 {
  margin-left: 2px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mv2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.mh2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.m2 {
  margin: 2px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pl2 {
  padding-left: 2px !important;
}
.pr2 {
  padding-right: 2px !important;
}
.pv2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.ph2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.p2 {
  padding: 2px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mv4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.mh4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m4 {
  margin: 4px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pv4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ph4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p4 {
  padding: 4px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mv8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.mh8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m8 {
  margin: 8px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pv8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.ph8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p8 {
  padding: 8px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mv12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.mh12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m12 {
  margin: 12px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pv12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.ph12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p12 {
  padding: 12px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.ml16 {
  margin-left: 16px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mv16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.mh16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.m16 {
  margin: 16px !important;
}
.pt16 {
  padding-top: 16px !important;
}
.pb16 {
  padding-bottom: 16px !important;
}
.pl16 {
  padding-left: 16px !important;
}
.pr16 {
  padding-right: 16px !important;
}
.pv16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.ph16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p16 {
  padding: 16px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mv20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mh20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m20 {
  margin: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p20 {
  padding: 20px !important;
}
.mt24 {
  margin-top: 24px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.ml24 {
  margin-left: 24px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.mv24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.mh24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.m24 {
  margin: 24px !important;
}
.pt24 {
  padding-top: 24px !important;
}
.pb24 {
  padding-bottom: 24px !important;
}
.pl24 {
  padding-left: 24px !important;
}
.pr24 {
  padding-right: 24px !important;
}
.pv24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.ph24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p24 {
  padding: 24px !important;
}
.mt28 {
  margin-top: 28px !important;
}
.mb28 {
  margin-bottom: 28px !important;
}
.ml28 {
  margin-left: 28px !important;
}
.mr28 {
  margin-right: 28px !important;
}
.mv28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}
.mh28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}
.m28 {
  margin: 28px !important;
}
.pt28 {
  padding-top: 28px !important;
}
.pb28 {
  padding-bottom: 28px !important;
}
.pl28 {
  padding-left: 28px !important;
}
.pr28 {
  padding-right: 28px !important;
}
.pv28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.ph28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.p28 {
  padding: 28px !important;
}
.mt32 {
  margin-top: 32px !important;
}
.mb32 {
  margin-bottom: 32px !important;
}
.ml32 {
  margin-left: 32px !important;
}
.mr32 {
  margin-right: 32px !important;
}
.mv32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.mh32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.m32 {
  margin: 32px !important;
}
.pt32 {
  padding-top: 32px !important;
}
.pb32 {
  padding-bottom: 32px !important;
}
.pl32 {
  padding-left: 32px !important;
}
.pr32 {
  padding-right: 32px !important;
}
.pv32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.ph32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p32 {
  padding: 32px !important;
}
.mt36 {
  margin-top: 36px !important;
}
.mb36 {
  margin-bottom: 36px !important;
}
.ml36 {
  margin-left: 36px !important;
}
.mr36 {
  margin-right: 36px !important;
}
.mv36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
.mh36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}
.m36 {
  margin: 36px !important;
}
.pt36 {
  padding-top: 36px !important;
}
.pb36 {
  padding-bottom: 36px !important;
}
.pl36 {
  padding-left: 36px !important;
}
.pr36 {
  padding-right: 36px !important;
}
.pv36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
.ph36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.p36 {
  padding: 36px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mv40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mh40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m40 {
  margin: 40px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.ph40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p40 {
  padding: 40px !important;
}

.mh-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mv-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
