// Colors
$greenHover: #009c95;
$delete-Color: #dd4b39;
$delete-ColorHover: #f04933;
$white-Color: #ffffff;

$green: #00aa9f;
$green1: #21ba45;
$gray: #888888;
$gray-1: #9b9fa4;
$gray-2: #BDC3C9;
$gray-3: #DDDEEE;
$black: #1c1d1e;
$light-black: #4c4c4c;
$orange: #F2994A;
$red: #DD4B39;
$blue: #005987;
$white: #fff;
