// Colors
$greenHover: #009c95;
$delete-Color: #dd4b39;
$delete-ColorHover: #f04933;
$cancel-Color: #e0e1e2;
$cancel-ColorHover: #cacbcd;
$white-Color: #ffffff;
$gray-Color: #9b9fa4;

$green: #00aa9f;
$gray: #888888;
$light-gray: #BDC3C9;
$black: #1c1d1e;


