.fc-day-sun { background: #f5f3f3; }
.fc-day-sat { background: #f5f3f3; }
.fc-toolbar-chunk{
    button{
        background-color: teal !important;
    }
}

.fc-event-main{
    font-size: 1rem;
    margin-left: 3px;
    span{
        float: right !important;
    }
}

.calendar_Holiday{
    background: none;
    border: none;
    .fc-event-main{
        color: #660000;
    }
}

.fc-daygrid-day-bg{
opacity: inherit;
}

.color_training{
    background: #A52A2A !important;
}

.calendar-event{
    cursor: pointer;
}
.icon-trash{
    background: transparent !important;
}
.fc--button{
    display: none !important;
}
.fc-timeGridDay-button{
    border-radius: 4px !important;
}
.fc-timeGridWeek-button{
    border-radius: 4px !important;
}
.checkbox-recurring{
    label {
        font-size: 18px !important;
      }
}
.button-day{
    border-radius: 50% !important;
    padding: 10px 13px !important;
    margin-left: 10px !important;
    &.first{
        margin-left: 0 !important;
    }
    &.teal:focus{
        background-color: #00b5ad !important;
    }
}