.pet-profile {
  &-menu.ui.menu.vertical {
    box-shadow: none;

    .item {
      padding: 1.1rem 2rem;

      &.active {
        background-color: #00b5ad0a !important;
      }

      i {
        line-height: 1.2rem;
      }
    }
  }

  .c-image-profile {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    margin-bottom: 2.5rem;

    .c-image-profile__overlay {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(97, 100, 104, 0.9);
      cursor: pointer;
    }
    &:hover .c-image-profile__overlay {
      display: flex;
    }
  }
  .c-image-profile__menu {
    top: 70px !important;
    right: -60px !important;
    left: auto !important;
  }
}
