.package-label{
  font-weight: normal !important;
  margin-bottom: 0 !important;
  font-size: 12 !important;
}
.package-span{
  color: #bfbdba;
  font-size: 10;
  font-weight: bold;
  font-style: italic;
}