  
#view-report-card-form {

    h6.ui.header.section-header{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem !important;
    }
    
    .ui.radio.checkbox {
      padding: 0.5rem;
    }
    
    .report-card-radio{
      padding: 2rem;
    }
    
    .report-card-header{
      background: #E5EAEE;
      padding: 2rem;
      border-bottom: 1px solid #BDC3C9;
      margin-bottom: 0rem;
    }
    
    .ui.segment{
      padding: 0rem;
    }
    
    }