.quick-link-font {
  font-size: 15px !important;
  color: #00aa9f !important;
}

.menu-item-padding {
  .petkennect-profile-menu.ui.menu.vertical .item {
    padding: 1.1rem 1rem !important;
  }
}

.table-margin {
  margin-right: -8px !important;
}

.quick-link{
  display: flex !important;
}

.link-tab{
  min-width: 14%;
}