#new-client-submission-form{
    .ui.tabular.menu .active.item{
            background: rgba(7, 148, 119, 0.1) !important;
            color: #00AA9F !important;
        }
}
.modal-width{
    @media screen and (min-width:1320px){
        width: 1430px !important; 
    }
    
}

.profile-width {
    @media screen and (min-width:1024px) and(max-width:1320px) {
        height:10rem !important;
    }
}

.dropdown-width {
    .ui.selection.dropdown {
    @media screen and (min-width:1024px) and(max-width:1320px) {
        min-width: 7em !important;
    }
}
}

.notes-margin {
    @media screen  and (max-width:1024px) {
        margin-top: 20px !important;
    }
}
