#new-client-submission-form{
    .ui.tabular.menu .active.item{
            background: rgba(7, 148, 119, 0.1) !important;
            color: #00AA9F !important;
        }
}
.modal-width{
    width: 1430px !important;
}