#new-client-submission-form{
    .ui.tabular.menu .active.item{
            background: rgba(7, 148, 119, 0.1) !important;
            color: #00AA9F !important;
        }
}
.modal-width{
    @media screen and (min-width:1320px){
        width: 1430px !important; 
    }
    
}