.comment_message
{
    .message__title {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: #1c1d1e;
    }
    .message__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: #1c1d1e;
    }
  }
    form
    { 
    .input-hidden
    {
      height: 0;
      width: 0;
      opacity: 0;
      overflow: hidden;
      display: none;
    }
  }