.label-style{
  margin-right: 8px !important;
  margin-top: 6px !important;
  margin-left: 0 !important;
}
.tag-display{

  display: flex !important;
  flex-wrap: wrap !important;
}
.flex-container{
  display : flex !important;

}
.h-container{
  border-right: solid 1px rgba(34, 36, 38, 0.15) !important;
}
.pt7r{
  padding-top: 0.7rem !important;
}
.mb5{
  margin-bottom: 7px !important;
}
.mt02{
  margin-top: 0.02rem !important;
}

.grooming-table{
  padding-top: 0 !important;
  height: 139px !important;
  }
