.emp-image{
    width: 12rem;
    height: 12rem;
    object-fit: cover !important;
}

.routine-card-div{
    opacity: 0.5;
}


.label-toggle{

     .field > label {
      display: none !important;
    }
    
  }