.coupan-setup-tab{
    min-width: 14% !important;
    margin-right: 10px !important;
  }


.mr50{
    margin-right: 50px !important;
}

.check-toggle{
  margin-right: -10px !important;
   .field > label {
    color: #1c1d1e;
    font-weight: 400;
    display: none !important;
  }
  
}

.mr70{
margin-right: 70px !important;
}

.type-div{
display: flex !important;
align-items: flex-start;
justify-content: space-between;
}

.toggle-text-div{
  height: 50px !important;
}