.label-style{
    min-width: 45%;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    height: 2.6rem !important;
    margin-left: 0 !important;
    padding-top: .8rem !important;
}


.tag-display{

    display: flex !important;
    flex-wrap: wrap !important;
}