.app-sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #E5EAEE;

  .sidebar {
    flex: 1;
    overflow-y: auto;
  }
}

.auth-session-dropdown {
  text-align: center;
  padding: 1.5rem 1rem;
  border-top: solid 1px #E5EAEE;

  p {
    margin-bottom: 0.5rem;
  }

  .avatar {
    &-trigger {
      display: flex;
      align-items: center;
    }

    &-circle {
      width: 3rem;
      height: 3rem;
      font-weight: bold;
      background-color: #005987;
      color: #fff;
      border-radius: 3rem;
      margin-right: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-user {
      color: #616468;

      span {
        color: #1C1D1E;
      }
    }

    &-icon {
      padding-left: 0.5rem;
      color: #616468;
      font-size: 1.3rem;
    }

    &.ui.dropdown {
      .ui.dropdown.selection {
        width: 12rem;
        min-width: initial;
      }

      .scrolling.menu {
        border-top: none;

        .item {
          font-weight: 300;
          padding-left: 3rem !important;

          &.selected {
            &::before {
              content: "✓";
              margin-left: -1.5rem;
              position: absolute;
            }
          }
        }
      }

      & > .menu {
        padding-top: 0.7rem;
  
        .item {
          padding: 1rem 1.8rem !important;
        }
  
        .header {
          padding: 1.2rem 1.8rem !important;
          color: inherit;
          font-size: inherit;
          font-weight: normal;
          text-transform: inherit;
          margin-top: 0;
          margin-bottom: 0;
    
          .avatar {
            &-trigger {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }
  }
}