.quick-link-font {
  font-size: 15px !important;
  color: #00aa9f !important;
}

.table-margin {
  margin-right: -8px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.grid-step{
  .step{
    padding: 1.1em 1em !important;
  }
  .ui.steps .step.active {
    background: #00b5ad0a !important;
    color: #00aa9f;
    .icon{
      color: #00aa9f !important;
    }
    .title{
      border-color: #00b5ad !important;
      color: #00b5ad !important;
    }
  }

  .ui.steps .step .title {
    font-family: 'Poppins';
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .ui.steps .step > .icon {
    font-size: 1.2em !important;
  }

  .ui.info.message{
    background-color: #f8ffff !important;
  }
}

.ui-table-overflow {
  .segment.ui.segment.dimmable{
 
    overflow-y: auto !important;
  }
}

.div-table-width {
  width: 98% !important;
  overflow-y: auto !important;
  .ui.table {
    width: max-content !important;
  }
}
