.segment-content{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.form-container{
    margin-top: 2rem;
    padding-left: 2rem;
    background-color: #f3f4f5;
}
.column-subscription{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p{
        margin: 0px;
        color: #d8d8d8;
        font-size: 12px;
    }
}
//billing info
.input-segment{
    display: flex !important;
    flex-direction: row;
    padding: 0px !important;
    justify-content: space-between;
    gap: 10px;
    border: none !important;
    box-shadow: none !important;
}
.row-end{
    display: flex !important;
    padding: 0px !important;
    justify-content: flex-end !important;
    box-shadow: none !important;
    border: none !important;
}
.billing-header{
    margin: 0px 0px 10px 0px !important;
}
//Payment Method
.current-card{
    font-size: 18px;
}
.creditcard-container{
    box-shadow: none !important;
    color: #C8C8C8;
    border-radius: 0px !important;
    margin: auto !important;
}
//invoices
.invoices-table-label{
    padding-bottom: 0px !important;
}
.invoices-table-rows{
    margin: 0px 0px 5px 0px !important;
    font-size: 14px;
    color: #C8C8C8;
}
.button-icon{
    margin: 0px !important;
}

//Branding Screen
.grid-branding{
    padding: 0px 15% !important;
}
.segment-dotted{
    justify-content: center;
    background-color: #f5f6f8 !important;
    border: 1px dashed #cecece !important;
    border-radius: 0px !important;
}
.image-default-size{
    min-height: 150px !important;
}
.segment-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent ;
    box-shadow: none ;
    border: none;
    margin: 10px 0px;
}
.branding-titles{
    text-align: center;
    margin: 0px;
}
.branding-titles-label{
    display: block;
    text-align: center;
    cursor: pointer !important;
    .input-file{
        display: none;
    }
}
.button-color{
    max-width: 25px;
    height: 33px;
}
.label-color{
    margin-top: 15px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}
//Accunting Screen
.header-check{
    margin: 0px !important;
    padding: 0px !important;
}