.input-file.ui.input {
  &.action {
    input {
      border-right-style: none;
    }

    .ui.button.basic {
      border-left-style: none;
    }
  }

  .ui.label {
    border-right-width: 0 !important;

    &.image {
      overflow: hidden;
      padding: 0 !important;
    }

    & > img {
      height: 100% !important;
      width: 3.3rem !important;
      margin: 0 !important;
      object-fit: cover;
      border-radius: 0;
    }

    & > .icon {
      margin-right: 0.15rem;
      margin-left: 0.15rem;
    }
  }

  input:read-only {
    background-color: #fff !important;
  }
}