.shortcut-font{
    font-size: 13px !important;
}

.shortcut-div{
    min-height: 35px !important;
}

.manager-shortcut-style {
  .menu-image {
    height: 20px !important;
    width: 20px !important;
  }
}
