
// variable green color use in button 
$Green-color:#00AA9F;
// variable white color 
$White-color:#FFFFFF;
// variable gray color for normal text color use sign in page 
$Gray-color:#9B9FA4;
// variable black color 
$Black-color:#1C1D1E;

// common function button css for like signin, back to sign in,send mail. 
@mixin SignInBtn(){
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $White-color;
  position: absolute;
  background: $Green-color;
  border: 1px solid $Green-color;
  box-sizing: border-box;
  border-radius: 3px;
}

.auth-heading{
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: $Black-color;
  width: 278px;
  height: 36px;
  left: 858px;
  top: 101px;
}

  .sign-in {
    .grid {     
      .column {

        p{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */
          letter-spacing: -0.04em;
          color: $Gray-color;
          left: 858px;
          top: 153px;
        }

        .ui.form{
            .fields{
              .txt-field{
                .input 
                {
                  input{
                  left: 0%;
                  right: 0%;
                  top: 42.03%;
                  bottom: 0%;
                  background: $White-color;
                  /* 20 */
                  border: 1px solid #BDC3C9;
                  box-sizing: border-box;
                  border-radius: 3px;
                  }
                  .hide{
                    color: $Green-color !important;
                    cursor: pointer;
                  }

                }
              }

              .signin-btn{
                .ui.button{
                  @include SignInBtn();
                  width: 100%;
                } 
              }

              .send-button{
                .button {
                  @include SignInBtn();
                  width: 49%;
                }
              } 

              .field{
                .Link-button {
                  @include SignInBtn();
                  width: 46%;
                  color: $Green-color;
                  position: absolute;
                  background: $White-color;
                }

                .a-class{
                  width: 131.92px;
                  height: 23.52px;
                  left: 1127.08px;
                  top: 414.63px;
                  /* p2 */
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 21px;
                  text-align: right;
                  letter-spacing: -0.04em;
                  /* Core1 */
                  color: $Green-color;
                }

              }
            }
        }

      }
    }
  }

