.sidebar {
  .sidebar-category {
    margin-bottom: 0.3rem;

    &.active {
      & > span, & > a {
        // color: #6772e5;
        color: #00AA9F;
        padding-top: 4px;
      }

      .icon-container {
        // background-color: #6772e533;
        // color: #6772e5;
        color: #00AA9F;
      }

      width: 283px;
      background: rgba(7, 148, 119, 0.1);
    }

    & > span, & > a {
      font-weight: bolder;
      color: #222b3b80;
      cursor: pointer;
      font-size: 1.05rem;
      display: flex;
      align-items: center;

      &:hover {
        color: #222b3bbb;
      }
    }

    .sidebar-menu {
      border-left: #222b3b22 solid 2px;
      padding: 0.5rem 0 0.5rem 1.5rem;
      margin-top: 1rem;
      margin-left: 1.3rem;

      a {
        display: block;
        color: #222b3b80;
        margin-bottom: 0.8rem;

        &:hover {
          color: #222b3bbb;
        }

        &:last-child {
          margin-bottom: 0rem;
        }
      }
    }

    .icon-container {
      display: flex;
      border-radius: 4rem;
      height: 2.8rem;
      width: 2.8rem;
      text-align: center;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      background-color: transparent;

      i {
        font-size: 1.2rem;
      }
    }
  }
}