.c-booking {
  .div-booking-button{
    .ui.teal.button{
      width: 9rem;

    @media only screen and (max-width:767px) {
      margin: 0.2rem;
      width: 12rem;
    }

    @media only screen and (max-width:1024px) and (max-width:1320px) {
      margin: 0.2rem;
    }
    }
  }
  .ui-table-overflow {
    .segment.ui.segment.dimmable{
    @media screen and (min-width:1024px) and (max-width:1366px) {
      overflow-y: auto !important;
    }
  }
}

.child_header{
  font-weight: 400 !important;
}
}

.c-booking-daycamp{
  @media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .wide.computer.sixteen.wide.mobile.sixteen.wide.tablet.column.ipad_full_width{
  width:100% !important;
}
}
@media only screen and (min-width:1024px){
  .text-center-daycamp{
    text-align: center;
  }
}
}
