.c-booking {
  .div-booking-button{
    .ui.teal.button{
      width: 9rem;

    @media only screen and (max-width:767px) {
      margin: 0.2rem;
      width: 12rem;
    }

    @media only screen and (max-width:1024px) and (max-width:1320px) {
      margin: 0.2rem;
    }
    }
  }
  .ui-table-overflow {
    .segment.ui.segment.dimmable{
    @media screen and (min-width:1024px) and (max-width:1366px) {
      overflow-y: auto !important;
    }
  }
}

.child_header{
  font-weight: 400 !important;
}
}
