.report-setting-tab{
  min-width: 14% !important;
  margin-right: 10px !important;
}

.service-div{

    display: inline-table !important;
}

.h-margin{
margin-bottom: .5rem !important;
margin-top: .5rem !important;
}



.padding-0{
padding-top: 0 !important;
}



.c-option{
    width: 195px !important;
    margin-right: 10px !important;
    margin-bottom: 0 !important;

}

.mb30{
  margin-bottom: 30px;
}

.div-img-text-hd{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-header{
  display: flex  !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.mt6rm{
  margin-top: .6rem !important;
}

.mr15p{
  margin-right: 15%;
}
    
.w180{
  width: 180px;
}

.hide-ph-toggle{

  margin-right : 60px;
   .field > label {
    color: #1c1d1e;
    font-weight: 400;
    display: none !important;
  }
  
}


.card-img-mid{
  width: 25%;
  margin-right: 20Px !important;
}


.mid-deafult-image-1{
  .ui.image {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}
.mid-deafult-image-2{
  .ui.image {
    height: 130px;
    width: 100%;
    object-fit: contain;
  }
}

.mid-deafult-training{
  .ui.image {
    height: 150px;
    width: 100%;
    object-fit: contain;
  }
}

.selected-pic{
  outline: solid !important;
  outline-color:#3399FF!important;
}


.selected-h{
  color: #45b345 !important;
}
.unselected-h{
  color: white !important;
}


.box-shadow-pic{
  box-shadow: none !important;
}


