.segment-dashboard-content {
  &.ui.segment {
    box-shadow: none;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;

    @media only screen and (max-width: 767px) {
      padding-left: 0.5rem;
      padding-right: 0rem;
      padding-top: 1rem;
    }
    @media only screen and (max-width: 767px) {
      overflow-x: hidden;
    }

    @media only screen and (min-width: 768px) and (max-width: 1320px) {
      overflow-x: hidden;
    }
  }

  &-header.ui.grid {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ui-grid-align {
    text-align: right;
    @media only screen and (max-width: 767px) {
      text-align: left;
    }
  }
  .ui.secondary.pointing.menu {
    margin-bottom: 2rem;
  }
}

.dashboard-table{
  .ui.table thead th {
    padding-left: .4rem !important;
    padding-right: 0 !important;
  }
  .ui.basic.table td {
    padding-left: .4rem !important;
    padding-right: 0 !important;
  }
  .table-primary.ui.basic.table thead {
    background-color: #fafcff !important;
  }
  padding-bottom: 0px !important;
}

.dashboard-card-tb{
  margin-bottom: -40px !important;
  .ui.table thead th {
    padding-left: .4rem !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .ui.basic.table td {
    padding-left: .4rem !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .ui.basic.button{
    box-shadow: none !important;
  }
  .ui.basic.button:hover{
    box-shadow: none !important;
  }
  .ui.table {
    font-size: .9em !important;
  }

  .table-primary.ui.basic.table thead {
    background-color:#fafcff !important;
  }
}

.card-header-div{
  display: flex !important;
  height: 53px;
  justify-content: space-between;
  align-items: center;
  .expand-div-top{
    .ui.basic.button{
      box-shadow: none !important;
    }
  }
}

.expand-div-btm{
  display: flex !important;
  height: 40px;
  border-top: solid 1px rgba(34, 36, 38, 0.15);
}
.circle-ds{
  width: 120px !important;
  height: 115px !important;
}

.circle-label-ds{
  display: block;
  margin-top: 8px !important;
}

.vaccination-header-div{
  justify-content: space-between;
  display: flex !important;
  align-items: baseline;
  border-bottom: solid 1px rgba(34, 36, 38, 0.15);
  padding-bottom: 6px !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.close-icon-style{
  align-self: flex-start !important;
  margin-top: 8px !important;
  margin-right: 8px !important;
}

.modal-width {
  min-height: 80vh;
  @media screen and (min-width: 1320px) {
    width: 1430px !important;
  }
}

.filter-text{
  margin-right: 7px !important;
  font-size: 13px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dsb-table-hd{
  padding-top: 5px !important;
  padding-left: 0.6rem !important;
  height: 50px !important;
}
.dsb-selected-h{
  color: blue !important;
}
.dsb-un-selected-h{
  opacity: 0.7 !important;
}

// capacity modal
.table-button-border {
  .ui.basic.blue.button:focus, .ui.basic.blue.buttons .button:focus {
    box-shadow: none !important;
  }

  .ui.basic.blue.button, .ui.basic.blue.buttons .button {
    box-shadow: none !important;
  }

  .ui.basic.blue.button:hover, .ui.basic.blue.buttons .button:hover {
    box-shadow: none !important;
  }
}

//Second


// notification section
.notification-section-style {
  .text-font {
    font-size: 13px !important;
  }

  .label-style {
    height: 35px !important;
    color: white;
  }

  .icon-style {
    .ui.label > .icon {
      width: 15px !important;
      margin: 0 .75em 0 0;
      margin-left: 5;
      margin-top: 5;
      margin-right: 5;
    }
  }

  .view-all {
    height: 310px !important;
    overflow-x: hidden !important;
  }

  .table-margin {
    margin-bottom: 0px !important;
  }
}

// tasklist section
.task-label-style {
  font-size: 13px !important;
  height: 20px !important;
  padding-top: 3px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  // border: 1px solid black !important;
}

.link-color {
  a:hover {
    color: blue !important;
  }
  a {
    color: black !important;
  }
 }

.completed-task{
  opacity: 0.4 !important;
}

.task-create-h-div{
  border-bottom: solid 1px rgba(34, 36, 38, 0.15);
  height: 50px;
  padding-top: 23px;
  padding-left: 3rem
}


.div-add-button{
  width: 55px !important;
  margin-top: 18px !important;
}

// calendar section

.calendar-margin-top {
  .DayPicker-Month {
    margin-top: 0px !important;
  }
}

.calendar-style {
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em !important;
  }
  .fc .fc-toolbar-title {
    font-size: 13px !important;
  }
  .fc .fc-scrollgrid-liquid {
    height: 220px !important;
  }
  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1px !important;
  }
  .fc-toolbar-chunk button {
    font-size: 13px !important;
    text-transform: capitalize !important;
    padding: 2px !important;
  }
  .ui.card a, .ui.cards > .card a {
    font-size: 13px !important;
  }
  .fc-day-sun {
    background: white !important;
  }
  .fc-day-sat {
    background: white !important;
  }
  a {
    color: black !important;
  }
  .fc table {
    font-size: 13px !important;
  }
  .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15)) !important;
  }
  .fc-toolbar-chunk button {
    background-color: #00B5AD !important;
  }
}

.calendar-modal-style {
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em !important;
  }
  .fc .fc-toolbar-title {
    font-size: 14px !important;
  }
  .fc .fc-view-harness {
    height: 480px !important;
  }
  .fc .fc-daygrid-day-frame {
    height: 70px !important;
  }
  .fc .fc-scrollgrid-liquid {
    height: 460px !important;
  }
  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1px !important;
  }
  .fc-toolbar-chunk button {
    font-size: 14px !important;
    text-transform: capitalize !important;
    padding: 2px !important;
  }
  .ui.card a, .ui.cards > .card a {
    font-size: 14px !important;
  }
  .fc-day-sun {
    background: white !important;
  }
  .fc-day-sat {
    background: white !important;
  }
  a {
    color: black !important;
  }
  .fc table {
    font-size: 14px !important;
  }
  .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15)) !important;
  }
}

.button-font {
  font-size: 10px !important;
}

.c-icon-profile{
  display: flex;
  line-height: initial;

  .icon{
    font-size: 20px;
    color: gray;
  }
}

.filter-spacing{
  @media (min-width: 1400px) {
    margin-left: 8px !important;  // changes
    margin-right: 8px !important;
   }
}
