.setting-dropdown{
    display: flex !important;
    align-items: center;
    height: 37px !important;
    width: 50px;
    border:  solid 1px rgba(34, 36, 38, 0.15);
}


.mt17{
  margin-top: 17px !important;
}


.folder-div{
    border-top:  solid 1px rgba(34, 36, 38, 0.15);
    
}

.folder-container{
    
    margin-left: 70px;
    margin-right: 32px;
}

.h60{
    height: 60px !important;
}

.child-container{
        
    height: 60px !important;
    margin-left: 60px !important;
        
}

.bottom-line{
    border-bottom: solid 1px rgba(34, 36, 38, 0.15); 
}

.folder-color{
    color: #fbbd08b0 !important
}

.file-label{
    color: #2185d0f2;
    font-size: 1.13rem !important;
    font-weight: 500 !important;
}

.excel-color{
 color: #025202 !important
}