.pets-form-gallery {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery_image_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: #9b9fa4;
    margin-right: 20px;
    margin-top: 20px;
    .gallery_camera-icon {
      position: absolute;
      display: none;
      top: 8px;
      left: 8px;
      color: rgba(255, 255, 255, 0.5);
    }
    .react-player{
      position: absolute;
      top: 0;
      pointer-events: none;
      left: 0;
    }
    &:hover {
      .gallery_camera-icon {
        display: block;
      }
    }
    .gallery_image {
      cursor: pointer;
      width: 200px;
      height: 200px;
      object-fit: contain;
      object-position: center;
      box-sizing: border-box;
      &:hover {
        border: 4px solid rgba(0, 170, 159, 0.5);
        border-radius: 4px;
      }
    }
    &:hover {
      .gallery-description-container {
        z-index: 0;
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        height: 40px;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.4);
      }
    }
    .gallery_image-description {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      z-index: 1;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.04em;
      color: #fafcff;
      bottom: 8px;
      left: 8px;
      margin: 0 !important;
    }
    .gallery_button-actions {
      display: none;
      position: absolute;
      bottom: 8px;
      right: 8px;
      margin: 0;
      padding-right: 0;
      .delete-option {
        color: #dd4b39 !important;
      }
    }

    &:hover .gallery_button-actions {
      display: block;
    }
  }
}
