.message__title {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
  }

  .permission-checkbox{
      .ui.checkbox{
          padding: 0.5rem;
      }
  }

  .div-btn-info{
    .ui.teal.button{
      width: 7rem;
    }
  }

  .c-note-item.wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
