.message__title {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
  }

  .permission-checkbox{
      .ui.checkbox{
          padding: 0.5rem;
      }
  }
